.ship {
    width: 20px;
    height: 100px;
    position: fixed;
    left: 300px;
    bottom: 100px;
    
    

}

.redd {animation: redd 2s linear;}

@keyframes redd {
    0% {background-color: black;}
    100% {background-color: red;}
}